<ion-header>
  <ion-toolbar>
    <ion-title>contactus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>
    <ion-button expand="block" routerLink="/home" routerDirection="root">Go Back</ion-button>
</ion-label>
</ion-content>
