<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p><ion-button expand="block" routerLink="/contactus" routerDirection="root">Link to new Page</ion-button></p>
  </div>
</ion-content>
